* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

img {
  user-select: none;
}

a {
  outline: none;
}

button,
.terms-and-conditions {
  margin: 10px 0 0 0;
}

aside {
  user-select: none;
  min-width: 300px;
}

.active-btn {
  color: var(--second-color) !important;
  font-weight: 700 !important;
}

.black-icons {
  border-color: var(--fourth-color) !important;
  color: var(--fourth-color) !important;
}

.color-black {
  color: var(--fourth-color);
}

.regular400 {
  font-weight: 400;
}

.medium500 {
  font-weight: 500;
}

.bold700 {
  font-weight: 700;
}

.black900 {
  font-weight: 900;
}

.font-size14 {
  font-size: 0.875rem;
}

.font-size16 {
  font-size: 1rem !important;
}

.font-size18 {
  font-size: 1.125rem;
}

.font-size24 {
  font-size: 1.5rem;
}

.font-size28 {
  font-size: 1.75rem;
}

.font-size32 {
  font-size: 2rem;
}

.loaded {
  animation: fadeOut 0.5s;

}

.hidden {
  animation: fadeIn 10ms;
  display: none;
}

.shown {
  animation: fadeIn 500ms;
  display: block;
}

.deactivated {
  top: -200px;
}

.active-page {
  color: var(--second-color) !important;
  font-weight: 700 !important;
}

.active-icon {
  border-color: var(--second-color) !important;
}

.active {
  top: 60px;
}

.error {
  transition: 100ms;
  border: 1px solid #ff0000 !important;
}

:root {
  --first-color: #FFFFFF;
  --second-color: #8F00FF;
  --third-color: #FFFCFF;
  --fourth-color: #333333;
  --hover: #6700b6;
  --separator: #5f5f5f5f
}

.overflow-hidden {
  overflow: hidden;
}

body {
  background-color: var(--first-color);

}

.music-content,
.logo-hubium {
  display: flex;
}

.logo-hubium {
  height: 100%;
  align-items: center;
}

.music-tags-li {
  display: flex;
  align-items: end;
}

a,
p {
  text-decoration: none;
  color: var(--third-color);
}

h1 {
  color: var(--fourth-color);
}

a:hover {
  transition: 150ms;
  color: var(--fourth-color);
  cursor: pointer;
}

li {
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: var(--second-color);
  ;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text>li {
  margin: 0 20px 0 0;
}

label {
  color: var(--fourth-color);
}



.header-container {
  width: 100%;
  align-items: center;
  justify-content: space-between
}

.content,
.content-header-2 {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.content-header-2 {
  justify-content: center !important;
  padding: 0 !important;
}


.nav-text {
  display: flex;
  margin: 0 0 0 50px;
}

.section-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-flex {
  display: flex;
  justify-content: center;
}

.container-partial {
  background-color: var(--second-color);
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0 0;
}

.sign {
  color: var(--first-color);
}


.profile-icon {
  font-size: 28px !important;
  color: var(--first-color);
  border-radius: 20px;
  padding: 2px;
  border: 2px solid var(--first-color);
  margin: 0 8px 0 0;
}

.search-sign {
  display: flex;
  align-items: center;
}

.search-input {
  width: inherit;
  height: 25px;
  border: 0;
  padding: 0 0 0 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search {
  margin: 0 0 0 40px;
}

#search-btn {
  display: flex;
  color: var(--fourth-color);
  background-color: var(--first-color);
  border-radius: 0 5px 5px 0;
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}

#search-btn>span {
  padding: 0 10px 0 0;
  font-size: 20px;
}

#hamburger-icon {
  display: none;
  margin: 0 40px 0 0;
  color: var(--first-color);
}

.sign {
  display: block;

}

.flex-links {
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  text-align: center;
  background-color: var(--fourth-color);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.01);

}

#hamburger-link>a {
  display: block;
  color: var(--first-color);
  padding: 5px 0;

}


#loading {
  position: fixed;
  width: 100%;
  height: 100vh;

  background-color: #333333;
  z-index: 2;

}

.loading-gif {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Preloader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Preloader-squareContainer {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.Preloader-square {
  width: 20px;
  height: 20px;
  background-color: white;
  margin-right: 10px;
}

.container {
  padding: 25px 100px 0 100px;
}

.profile-page-container {
  padding: 80px 100px 0 100px;
}

.new-songs {
  margin: 20px 0 0 0;
}

.new-songs>h1::after {
  content: "";
  display: flex;
  padding: 5px 0 0 0;
  border-bottom: 3px solid var(--fourth-color);
  width: 200px;
}

.top10-week {
  margin: 25px 0 0 0;
}

.carousel-container {
  display: inline-block;
  width: 100%;
  height: 200%;
  overflow: hidden;
  margin: 15px 0 0 0;
}

.carousel-links,
.grid-links {
  color: var(--fourth-color);
}

.carousel-container>.carousel-itens {
  margin: 0 40px 0 0;
}

.album-cover {
  background-image: url('/img/preloader/hubium-loader.gif');
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

.carousel-promote {
  width: 40%;
}

.container-grid,
.flex-promote,
.profile-container {
  padding: 60px 0 0 0;
}

.flex-promote {
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: #333333;
}

.aside-flex>li {
  content: "";
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--separator);
  width: 100%;
}

.carousel-container::after,
.my-account {
  content: "";
  display: flex;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid var(--separator);
  width: 100%;
}

.album-cover {
  width: 200px;
  height: 200px
}

.music-tags-ul {
  margin: 5px 0 0 0;
}

.music-tags-li {
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff15;
  margin: 0 10px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  /* background-color: var(--fourth-color); */

  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;


}

.form-content {
  width: 400px;
  /* border: 2px solid var(--fourth-color); */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form-nav>a {
  color: var(--fourth-color);
}

.search>form {
  padding: 0
}

form>span {
  color: #f64348;
  font-size: .75rem;
  margin: .25rem;
}

select,
input[type="text"],
input[type="email"] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-profile-data>input {
  width: inherit !important;
}

.form-profile-data>input,
form>input,
select {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--fourth-color);
  outline: none;
  border-radius: 5px;
}

.submit-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

button {
  padding: 10px 25px;
  color: var(--first-color);
  background-color: var(--second-color);
  border: none !important;
  border-radius: 8px;
}

button:hover {
  transition: 100ms;
  cursor: pointer;
  background-color: var(--hover);
}


span {
  cursor: pointer;
}

.active-btn:hover {
  transition: 100ms;
  cursor: pointer;
  color: var(--hover) !important;
}

.form-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  margin: 10px 0 15px 0;

}

.terms-and-conditions {

  text-align: center;
  color: var(--fourth-color);
}

.forgot-password-flex {
  display: flex;
  justify-content: end;
  margin: 5px 0 0 0;
}

.footer-flex {
  width: 100%;
  height: 300px;
  background-color: #121212;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 200px;
}

.footer-about {
  display: flex;
  justify-content: space-around;

}

.footer-nav>h2 {
  color: var(--first-color);
}

.about-1>li,
.about-2>li {
  margin: 0 0 5px 0;
}

.about-1 {
  margin: 0 15px 0 0;
}

.about-1,
.about-2 {
  display: block;
}

.copyright {
  color: #9A9A9A;
  font-size: 12px;
  padding: 50px 0 0 0
}

.footer-social>h2,
.music-info>h2 {
  color: var(--first-color) !important;
}

.music-info>a:hover,
.see-more:hover {
  color: #8F00FF !important;
}

.see-more {
  background-color: #00000015;
  padding: 5px;
  border-radius: 5px;
  color: var(--fourth-color);
}

.see-more:hover {
  background-color: #00000027;

}

.music-info>a {
  color: var(--first-color) !important;
}

.results-txt {
  padding: 60px 0 0 0;
}



.music-tags {
  margin: 50px 0 0 0;
  color: var(--first-color);
}

.footer-logo-hubium {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  width: 100%;
  height: 36px;
}

footer {
  user-select: none;
  margin: 100px 0 0 0;
}

a>svg {
  display: flex;
  align-items: center;
}

.logo-hubium-div {
  display: flex;
  justify-content: center;
}

.header-2 {
  padding: 0 200px;
}

.social-media-icons {
  display: flex;
  align-items: center;
}

.social-media-icons>li {
  padding: 20px 10px 0 0;
}

.social-media-icons>li>a:hover,
.footer-about>ul>li>a:hover {
  transition: 150ms;
  color: var(--hover);
  cursor: pointer;
}

.music-flex {
  display: flex;
  padding: 60px 0 0 0;
  justify-content: center;
}

.music-container {
  display: flex;
  justify-content: center;
  margin: 50px 100px;
  width: 100%;
  padding: 50px 100px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #09501e;
}

.search-flex {
  display: flex;
  padding: 60px 0 0 0;
  justify-content: center;
}

.embed-flex {
  margin: 20px 0 0 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 0 500px;
  width: 100%;
  padding: 25px 50px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #121212;
  /* border: solid 1px var(--fourth-color); */
}

.likes-container {
  display: flex;
  color: var(--first-color);
}

.spotify-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorite-symbol,
.help-symbol {
  display: flex !important;
  align-items: center !important;
  font-size: 18px !important;
  color: #6700b6 !important;
}

.grid-content {
  display: flex;

  justify-content: center;
  flex-flow: column;
}

.grid-links {
  display: flex;
  justify-content: center;
}

.container-grid>h2 {
  text-align: center;
  margin: 10px 0
}

.see-more-flex {
  display: flex;
  width: 100%;
  justify-content: end;
}

.parent {
  display: grid;
  margin: 0 200px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.terms-container {
  padding: 100px 60px;
}

.terms-container>ul {
  display: block;
}

.help-container {
  border: 1px solid var(--fourth-color);
  padding: 10px;
  border-radius: 5px;
  color: var(--fourth-color);
  position: absolute;
  background-color: var(--first-color);

}

.close-modal {
  display: flex !important;
  width: 100%;
  justify-content: end !important;
}

.tags {
  display: flex;
}

label,
#help-btn {
  margin: 10px 0 0 0;
}

input:disabled,
input[disabled],
button:disabled,
button[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.profile-flex {
  display: flex;
  margin: 25px 0 0 0;
}

.aside-flex {
  border: 1px solid var(--separator);
  border-radius: 10px;
  padding: 20px;

}

.aside-flex>li>a {
  display: flex;
  align-items: center !important;
}

.create-project {
  color: var(--fourth-color);
}

.create-project:hover {
  transition: 100ms;
  color: var(--second-color);
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* media */

@media(max-width: 375px) {
  .parent {

    margin: 0;

  }

  .search-input {
    width: 100px;
  }



  .album-cover {
    width: 150px;
    height: 150px
  }


}

@media(max-width: 768px) {


  .carousel-promote {
    width: 100%;
  }

  .music-container {
    margin: 0;
    padding: 0;

  }

  .font-size32 {
    font-size: 28px;
  }

  .container>h1 {
    text-align: center;
  }

  .container {
    padding: 25px 0 0 0;
  }

}

@media(max-width: 425px) {

  .footer-social {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .new-songs>h1 {
    padding: 0 15px 0 15px;
  }

  .new-songs>h1::after {
    content: "";
    display: flex;
    text-align: center;
    padding: 5px 0 0 0;
    border-bottom: 3px solid var(--fourth-color);
    width: 100%;
  }

}

@media(min-width: 769px) {

  .parent {

    margin: 0;

  }

  .carousel-promote {
    width: 60%;
  }
}

@media(max-width: 1870px) {
  .search-container {

    margin: 0 200px;

  }
}

@media(min-width: 1440px) {


  .carousel-promote {
    width: 40%;
  }
}

@media(min-width: 1025px) {
  .parent {

    margin: 0 50px;

  }

  .flex-links {
    display: none;
  }


}


@media (max-width: 1024px) {


  .search-container {

    margin: 0 100px;

  }

  .profile-icon {
    display: none !important;
  }

  .footer-nav {
    margin: 0;
  }

  .sign {
    display: none;
  }

  .content {
    justify-content: center;
  }

  #hamburger-icon {
    display: block;
  }

  .nav-text {
    display: none;
  }
}

@media (min-width: 2400px) {
  .carousel-container::-webkit-scrollbar {
    display: none;
  }
}