<div class="e404-container">
  <div class="e404-content">
    <div class="e404-text">
      <h1>As vezes escolhemos uma musica errada também!!</h1>
      <p>Não conseguimos encontrar a pagina que você tanto
        procura :(</p>
      <p class="e404-return">Mas não se preocupe! Você pode voltar para o <a href="/">início</a> ou <br> <a
          href="/highlights">
          ouvir
          as musicas
          mais
          recentes da
          Hubium!</a></p>
    </div>
    <img src="/img/logo_404.png" alt="" srcset="">
  </div>

</div>