<div class="form-container">
  <div class="form-content">
    <div class="form-nav font-size24">

      <h1 style="text-align: center;" class="font-size28">Esqueceu a senha? Não tem problema!</h1>
    </div>
    <form class="registerInput" action="/forgor-password/post" method="post">
      <label class="" for="">Email: </label>
      <input id="email" name="email" type="email" placeholder="Email:">
      <span id="email-error"></span>

      <label for="">Nova senha: </label>

      <input id="password" name="password" type="password" placeholder="Nova senha:">
      <span id="password-error"></span>
      <div class="submit-btn">
        <button id="create-btn" class="bold700" type="submit" disabled>Alterar</button>
      </div>
    </form>
  </div>
</div>

<script src="/public/js/forgotPassword.js"></script>