<section class="container-grid">
  <h2>Destaques do mês</h2>
  <div class="grid-flex">

    <div class="parent">
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}

      {{>highlights}}
      {{>highlights}}
      {{>highlights}}
      {{>highlights}}

      {{>highlights}}
      {{>highlights}}
      {{>highlights}}

    </div>
  </div>
</section>