<section id="section-flex">
  <div id="loading">
    <div class="Preloader">
      <div class="Preloader-squareContainer">
        <div class="Preloader-square"></div>
        <div class="Preloader-square"></div>
        <div class="Preloader-square"></div>
        <div class="Preloader-square"></div>
        <div class="Preloader-square"></div>
        <div class="Preloader-square"></div>
      </div>
    </div>
  </div>
  <div class="flex-promote">
    <div class="carousel-promote">
      <img width="30%" height="30%" src="/img/carousel/1-compressed.jpg" alt="">
      <img width="30%" height="30%" src="/img/carousel/2-compressed.jpg" alt="">
      <img width="30%" height="30%" src="/img/carousel/3-compressed.jpg" alt="">
    </div>
  </div>
  <div class="container">
    <h1 class="font-size32">Descubra novas faixas e albuns</h1>
    <div class="new-songs">
      <h1 class="medium500 font-size28">Novidades</h1>
      <div class="top10-week">
        <h1 class="medium500 font-size16">TOP 10 ALBUNS DA SEMANA</h1>
        <div id="carousel" class="carousel-container">
          {{#each albums}}
            {{> carousel}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="new-songs">
      <h1 class="medium500 font-size28">Destaque</h1>
      
      <div class="top10-week">
        <h1 class="medium500 font-size16">TOP 50 FAIXAS DO MÊS</h1>
        <div id="carousel" class="carousel-container">
          {{#each tracks}}
            {{> carousel}}
          {{/each}}
        </div>
        <div class="see-more-flex">
          <a class="see-more" href="/highlights">ver mais ></a>
        </div>
      </div>
    </div>
    <div class="new-songs">
      <h1 class="medium500 font-size28">Biblioteca</h1>
      <div class="top10-week">
        {{#if userData}}
          <h1 class="medium500 font-size16">SUAS FAIXAS FAVORITAS</h1>
          <div id="carousel" class="carousel-container">
            {{#if library}}
              {{#each library}}
                {{> carousel}}
              {{/each}}
            {{else}}
              <h2>Vamos lá! Curta novas musicas</h2>
            {{/if}}
          </div>
          <div class="see-more-flex">
            <a class="see-more" href="/library">ver mais ></a>
          </div>
        {{else}}
          <h2>Cadastrar-se ou faça login para acessar essa página</h2>
        {{/if}}
      </div>
    </div>
  </div>
  </div>
  <script src="/public/js/home.bundle.min.js" defer></script>
  <script id="ze-snippet"
    src="https://static.zdassets.com/ekr/snippet.js?key=93332c0c-e90e-43d1-8e8a-dd6583e26077"> </script>
</section>