<section class="container-grid">
  <h2>Sua biblioteca</h2>
  <div class="grid-flex">

    <div class="parent">
      {{#each library}}
        {{>library}}
      {{/each}}
    </div>
  </div>
</section>