<section class="container-grid">
  <h2>Sua biblioteca</h2>
  <div class="grid-flex">

    <div class="parent">
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}

      {{>library}}
      {{>library}}
      {{>library}}
      {{>library}}

      {{>library}}
      {{>library}}
      {{>library}}

    </div>
  </div>
</section>