<div class="form-container">
  <div class="form-content">
    <div class="form-nav font-size24">
      <a class="" href="/register">Cadastrar-se</a>
      <a class="active-btn" href="/login">Login</a>
    </div>
    <form action="/login/get" method="get">
      <label for="">Email: </label>
      <input name="email" type="email" placeholder="Email:">

      <label for="">Senha: </label>
      <input type="password" name="password" id="" placeholder="Senha: ">
      <div class="forgot-password-flex">
        <a class="font-size14 active-btn" href="">Esqueceu a senha?</a>
      </div>

      <div class="submit-btn">
        <button class="bold700" type="submit">Entrar</button>
      </div>
    </form>
  </div>
</div>