<div class="profile-page-container">
  <h1 class="my-account font-size32">minha conta</h1>
  <div class="profile-flex">
    <aside>
      <ul class="aside-flex">
        <li> <a translate="no" class="create-project medium500 active-page font-size24" href=""><span
              class="active-page active-icon medium500 profile-icon material-symbols-outlined">
              person
            </span>Seus dados</a></li> {{!-- Seus dados --}}

        <li><a class="create-project medium500 font-size24" href="/profile-data/projects"><span
              class="black-icons profile-icon material-symbols-outlined">
              album
            </span>Seus projetos</a></li> {{!-- Seus projetos --}}

        <li><a class="create-project medium500 font-size24" href="/profile-data/library"><span
              class="black-icons profile-icon material-symbols-outlined">
              favorite
            </span>Seus favoritos</a></li> {{!-- Seus favoritos --}}

        <li><a class="create-project medium500 font-size24" href="/logout"><span
              class="black-icons profile-icon material-symbols-outlined">
              logout
            </span>Sair</a></li> {{!-- sair --}}
      </ul>

    </aside>
    <div class="profile-data-container">
      <h1>Seus dados</h1>
      <div class="profile-data-content">
        <form class="registerInput" action="/profile-data/update" method="post">
          <div class="form-profile-data">
            <label for="">Nome</label>
            <input value="{{userData.name}}" type="text" name="name" id="name">


            <label for="">Email</label>
            <input value="{{userData.email}}" type="email" name="email" id="email">

            <br>
            <button id="create-btn" type="submit">Editar</button>
            <button id="cancel-btn">Cancelar</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
<script src="/public/js/editPage.js"></script>