<div class="profile-page-container">
  <h1 class="my-account font-size32">minha conta</h1>
  <div class="profile-flex">
    <aside>
      <ul class="aside-flex">
        <li> <a class="create-project medium500  font-size24" href="/profile-data"><span
              class="black-icons medium500 profile-icon material-symbols-outlined">
              person
            </span>Seus dados</a></li> {{!-- Seus dados --}}

        <li><a class="active-page medium500 font-size24" href="/profile-data/projects"><span
              class="active-page active-icon profile-icon material-symbols-outlined">
              album
            </span>Seus projetos</a></li> {{!-- Seus projetos --}}

        <li><a class="create-project medium500 font-size24" href="/profile-data/library"><span
              class="black-icons profile-icon material-symbols-outlined">
              favorite
            </span>Seus favoritos</a></li> {{!-- Seus favoritos --}}

        <li><a class="create-project medium500 font-size24" href=""><span
              class="black-icons profile-icon material-symbols-outlined">
              logout
            </span>Sair</a></li> {{!-- sair --}}
      </ul>


    </aside>
    <div class="profile-page-content">

      <h1 class="">Seus projetos</h1>
      {{!-- TODO: adicionar uma verificação se tem projetos/favoritos cadastrados --}}
      <h3 class="medium500">Cadastre um novo <a class="create-project" href="">projeto!</a></h3>
      {{!-- Se tiver --}}
      <div id="carousel" class="carousel-container">
        {{#each musics}}
        {{> carousel}}
        {{/each}}
      </div>
    </div>
  </div>
</div>