<div class="form-container">
  <div class="form-content">
    <div class="form-nav font-size24">

      <h1 class="font-size28">Promova seus projetos com a Hubium!</h1>
    </div>
    <form action="/promote-projects/post" method="post">
      <label class="" for="">Nome da musica: </label>
      <input name="name" type="text" placeholder="Nome:">
      <label for="">Album ou single?</label>
      <select name="type" id="">
        <option value="albums">Album</option>
        <option value="tracks">Single</option>
      </select>
      <div class="spotify-link-container">
        <label for="">Link da musica no Spotify: </label>
        <span id="help-btn" class="help-symbol font-size16 material-symbols-outlined">
          help
        </span>
        <div id="help-modal" class="hidden help-container">
          <span id="close-modal" class="close-modal material-symbols-outlined">
            close
          </span>
          <h3>Copie exatamente esse link:</h3>
          <img src="/img/help.png" alt="">

        </div>
      </div>

      <input name="link" type="text" placeholder="Link:">

      <label for="">Selecione até 3 tags: </label>
      <div class="tags">
        <select name="" id="">
          {{!-- Genero --}}
          <option value="">Album</option>
          <option value="">Single</option>
        </select>
        <select name="" id="">
          {{!-- Subgenero --}}
          <option value="">Album</option>
          <option value="">Single</option>
        </select>
        <select name="" id="">
          {{!-- Subgenero --}}
          <option value="">Album</option>
          <option value="">Single</option>
        </select>
      </div>
      <p class="font-size14 terms-and-conditions">Ao se registrar você concorda com a nossa
        <span><a class="active-btn" href="/termsnconditions">politicas de
            privacidade</a></span> e nosso
        <span><a class="active-btn" href="/termsnconditions">termos de uso</a></span>
      </p>
      <input type="hidden" value="{{userID}}" name="userId">
      <input type="hidden" value="" name="link_photo">
      <input type="hidden" value="" name="qtdmsc">
      <div class="submit-btn">
        <button id="subimit-btn" class="bold700" type="submit" disabled>Criar</button>
      </div>
    </form>
  </div>
</div>
<script src="/public/js/promote_page.bundle.min.js"></script>
<script src="/public/js/getMusicData.bundle.min.js"></script>