<div class="form-container">
  <div class="form-content">
    <div class="form-nav font-size24">

      <a class="active-btn" href="/register">Cadastrar-se</a>
      <a class="" href="/login">Login</a>
    </div>
    <form action="" method="post">
      <label class="" for="">Nome: </label>
      <input name="name" type="text" placeholder="Nome:">

      <label for="">Email: </label>
      <input name="email" type="email" placeholder="Email:">

      <label for="">Senha: </label>
      <input type="password" name="password" id="" placeholder="Senha: ">
      <p class="font-size14 terms-and-conditions">Ao se registrar você concorda com a nossa
        <span><a class="active-btn" href="">politicas de
            privacidade</a></span> e nosso
        <span><a class="active-btn" href="">termos de uso</a></span>
      </p>
      <div class="submit-btn">
        <button class="bold700" type="submit">Criar</button>
      </div>
    </form>
  </div>
</div>