<div class="carousel-itens">
  <img class="album-cover" width="200px" height="200px" src="/img/covers/most-wanted-vol1.jpg" alt="">
  <h1 class="font-size16"> Most Wanted vol.1</h1>
  <h2 class="font-size14 regular400">BVNDIT</h2>
</div>