<a class="carousel-links" href="/music/{{this.id}}">
  <div class="carousel-itens">
    <img class="album-cover" src="{{this.link_photo}}" alt=""> {{!-- album cover --}}
    <h2 class="font-size16"> {{this.name}} </h2> {{!-- album title --}}
    <h2 class="font-size14 regular400">{{this.artist}}</h2> {{!-- artist name --}}
  </div>
</a>