<div class="search-flex">

    <div id="music-container" class="search-container">

        <div class="music-content">
            {{!-- music page --}}
            <a href="#"> 
                <img class="album-cover" src="/img/covers/most-wanted-vol1.jpg" alt="">
            </a>
            <div class="music-info"> 
                <a href="#">
                    <h2 class="font-size28"> Most Wanted vol.1</h2>
                </a>
                {{!--Artist profile --}}
                <a href="#">
                    <h2 class="font-size24 regular400">BVNDIT</h2>
                </a>
            </div>

        </div>
    </div>
</div>