<div class="search-flex">

    <div id="music-container" class="search-container">

        <div class="music-content">
            {{!-- music page --}}
            <a href="#">
                <img class="album-cover" src="/img/covers/most-wanted-vol1.jpg" alt="">
            </a>
            <div class="music-info">
                <a class="bold700 font-size28" href="#">
                    Most Wanted vol.1
                </a><br>

                {{!--Artist profile --}}
                <a class="font-size24 regular400" href="#">
                    BVNDIT
                </a>
                <div class="likes-container">
                
                <span class="favorite-symbol material-symbols-outlined">
                    favorite
                </span>
                <h2 class="font-size18 regular400">{{!--qtd likes--}} 116 likes</h2>
                </div>
            </div>

        </div>
    </div>
</div>