<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>Document</title>
</head>

<body>
  <header>
    <div class="container">
      <ul class="content">
        <nav class="medium500 font-size18">
          <li class="logo-hubium">
            <img width="38" height="31" src="img/logo_1.png" alt="">
          </li>
          <div class="nav-text">
            <li>
              <a href="/">Novidades</a>
            </li>
            <li>
              <a href="/register">Destaques</a>
            </li>
            <li>
              <a href="/jobs">Biblioteca</a>
            </li>
            <li>
              <a href="/jobs">Projetos</a>
            </li>
            <li>
              <a href="/jobs">Promova seus projetos</a>
            </li>
          </div>
        </nav>
        <div class="search-sign">
          <a href="/jobs">CADASTRE-SE</a>
          <li class="search">
            <input class="search-input" placeholder="Pesquisar" type="text">
          </li>
          <a id="search-btn" href="">
            <span class="material-symbols-outlined">
              search
            </span>
          </a>
      </ul>
    </div>
    </div>
  </header>
  {{{body}}}
</body>

</html>