<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="icon" href="/img/favicons/favicon.ico" sizes="16x16" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
  {{!--
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" /> --}}
  <link rel="stylesheet" href="/public/css/slick-theme.css">

  <script src="/public/js/home.js" defer></script>
</head>

<body>
  <header>
    <div class="header-container">
      <ul class="content">
        <nav class="medium500 font-size18">
          <li>
            <span id="hamburger-icon" class=" material-symbols-outlined">
              menu
            </span>
          </li>
          <li class="logo-hubium">
            <img width="38" height="31" src="img/logo_1.png" alt="hubium logo">
          </li>
          <div class="nav-text">
            <li>
              <a href="/">Novidades</a>
            </li>
            <li>
              <a href="/highlight">Destaques</a>
            </li>
            <li>
              <a href="/library">Biblioteca</a>
            </li>
            <li>
              <a href="/projects">Projetos</a>
            </li>
            <li>
              <a href="/promote-projects">Promova seus projetos</a>
            </li>
          </div>
        </nav>

        <div class="search-sign">
          <span class=" profile-icon material-symbols-outlined">
            person
          </span>
          <h1 class="medium500 font-size14 sign">
            Faça <span class="login-btn"><a class=" bold700" href="/login">Login</a></span> ou <br>
            crie seu <a class="bold700" href="/register">Cadastro</a>
          </h1>

          <li class="search">
            <input class="search-input" placeholder="Pesquisar" type="text">
          </li>
          <a id="search-btn" href="">
            <span class="material-symbols-outlined">
              search
            </span>
          </a>
      </ul>
    </div>
    </div>
  </header>

  <div id="hamburger-nav" class="flex-links deactivated">
    <div id="hamburger-link">
      <a href="#news">Novidades</a>
      <a href="#contact">Destaques</a>
      <a href="#about">Biblioteca</a>
      <a href="#about">Projetos</a>
      <a href="#about">Promova seus projetos</a>
    </div>
  </div>
  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/js/slick.js"></script>
</body>

</html>